*.rbc
*.sassc
.sass-cache
capybara-*.html
.idea
.DS_Store
*.sublime*
.redcar
*.gout*
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
public/sitemap*
public/stylesheets/*
public/uploads/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/config/database.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/*.sphinx.conf
config/newrelic.yml
db/sphinx/