%a.addthis_button{:href => "http://www.addthis.com/bookmark.php?  |
                  v=300&amp;pubid=xa-50d334fc48bbaef7",           |
                  "addthis:url" => task_url(task)}
  %img{ :src => "http://s7.addthis.com/static/btn/v2/lg-share-en.gif",  |
        :width => "125", :height => "16", :alt => "Bookmark and Share", |
        :style => "border:0"}/                                          |