%p
  Здравствуйте #{@resource.email}!
%p Кем-то был сделан запрос на смену Вашего пароля, для продолжения проследуйте по ссылке ниже.
%p= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Если вы не делали запроса, пожалуйста, не обращайте внимания на это письмо.
%p Ваш пароль не будет изменен, пока вы не проследуете по ссылке выше и не создадите новый.
