%p
  Здравствуйте #{@resource.email}!
%p Ваш аккаунт был заблокирован из-за чрезмерного количества неудачных попыток входа.
%p Для разблокировки проследуйте по ссылке ниже:
%p= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, :unlock_token => @resource.unlock_token)
